/* Created by M. N. Hidayat.
 * Please, was has permission when will edited this file.
 * Thanks! for your attention.
 * Greetings. BRAVOOO */
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* line 113, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p, span, i, div, a, button {
  font-family: "Raleway", sans-serif;
}

/* line 117, ../sass/screen.scss */
.container {
  width: 92%;
}

/* line 121, ../sass/screen.scss */
.main-nav-top {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.25);
}
/* line 127, ../sass/screen.scss */
.main-nav-top .brand-link > li > a {
  color: #ffffff;
  font-size: 14px;
  pointer-events: none;
  font-family: "Allerta", sans-serif;
}
/* line 62, ../sass/screen.scss */
.main-nav-top .brand-link > li > a:hover, .main-nav-top .brand-link > li > a:focus, .main-nav-top .brand-link > li > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: none;
}
/* line 139, ../sass/screen.scss */
.main-nav-top .navbar-right > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
/* line 62, ../sass/screen.scss */
.main-nav-top .navbar-right > li > a:hover, .main-nav-top .navbar-right > li > a:focus, .main-nav-top .navbar-right > li > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: none;
}
/* line 146, ../sass/screen.scss */
.main-nav-top .navbar-right > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
/* line 157, ../sass/screen.scss */
.main-nav-top .navbar-right > li > a:hover::after {
  background-color: #ffffff;
}

/* line 169, ../sass/screen.scss */
.slide-main > .carousel-inner > .item > img {
  width: 100%;
}
/* line 175, ../sass/screen.scss */
.slide-main > .intro-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
/* line 179, ../sass/screen.scss */
.slide-main > .intro-info > h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
/* line 185, ../sass/screen.scss */
.slide-main > .intro-info > h4 {
  color: #ffffff;
  font-size: 23px;
  margin-top: 20px;
}
/* line 191, ../sass/screen.scss */
.slide-main > .intro-info > a {
  margin-top: 20px;
  font-size: 20px;
  background-color: #fcc71d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
}
/* line 62, ../sass/screen.scss */
.slide-main > .intro-info > a:hover, .slide-main > .intro-info > a:focus, .slide-main > .intro-info > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdd34f;
}
/* line 199, ../sass/screen.scss */
.slide-main > .brand {
  position: absolute;
  width: 160px;
  top: 50px;
  left: 70px;
}
/* line 205, ../sass/screen.scss */
.slide-main > .brand > img {
  width: 100%;
}

/* line 211, ../sass/screen.scss */
.availbility-schedule {
  padding-top: 70px;
  padding-bottom: 40px;
  width: 60%;
  border-bottom: 1px solid #ececec;
}
/* line 217, ../sass/screen.scss */
.availbility-schedule > .form-inline {
  text-align: center;
}
/* line 220, ../sass/screen.scss */
.availbility-schedule > .form-inline input {
  font-weight: bold;
  font-size: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
}
/* line 227, ../sass/screen.scss */
.availbility-schedule > .form-inline > button {
  font-weight: bold;
  font-size: 15px;
  background-color: #fcc71d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
}
/* line 62, ../sass/screen.scss */
.availbility-schedule > .form-inline > button:hover, .availbility-schedule > .form-inline > button:focus, .availbility-schedule > .form-inline > button:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdd34f;
}

/* line 236, ../sass/screen.scss */
.welcoming {
  text-align: center;
  padding-top: 40px;
  width: 60%;
}
/* line 241, ../sass/screen.scss */
.welcoming > h1 {
  line-height: 1.3;
  font-size: 32px;
}
/* line 246, ../sass/screen.scss */
.welcoming > p {
  margin-top: 40px;
  color: #7d7d7d;
  font-size: 14px;
}
/* line 252, ../sass/screen.scss */
.welcoming > a {
  margin-top: 20px;
  font-size: 15px;
  background-color: #fcc71d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
}
/* line 62, ../sass/screen.scss */
.welcoming > a:hover, .welcoming > a:focus, .welcoming > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdd34f;
}

/* line 260, ../sass/screen.scss */
.gallery {
  padding-top: 40px;
  padding-bottom: 50px;
}
/* line 264, ../sass/screen.scss */
.gallery > .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 268, ../sass/screen.scss */
.gallery > .row > div {
  padding-left: 0;
  padding-right: 0;
}
/* line 272, ../sass/screen.scss */
.gallery > .row > div > a {
  display: block;
}
/* line 275, ../sass/screen.scss */
.gallery > .row > div > a > img {
  width: 100%;
}
/* line 279, ../sass/screen.scss */
.gallery > .row > div > a:hover > img {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/* line 288, ../sass/screen.scss */
.lifestyle {
  background-color: #eeeeee;
  padding: 100px 0;
  position: relative;
}
/* line 294, ../sass/screen.scss */
.lifestyle > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 298, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
/* line 302, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6:nth-child(2) {
  z-index: 666;
}
/* line 306, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 > div {
  background-color: #ffffff;
  padding: 50px 40px;
  webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
}
/* line 311, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 > div > h4 {
  color: #7d7d7d;
  font-size: 16px;
}
/* line 316, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 > div > h3 {
  font-size: 23px;
  line-height: 1.3;
}
/* line 321, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 > div > p {
  color: #7d7d7d;
  font-size: 14px;
  margin-top: 20px;
  text-align: justify;
}
/* line 328, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 > div > a {
  font-size: 14px;
  margin-top: 20px;
  background-color: #fcc71d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
}
/* line 62, ../sass/screen.scss */
.lifestyle > .container > .row > .col-md-6 > div > a:hover, .lifestyle > .container > .row > .col-md-6 > div > a:focus, .lifestyle > .container > .row > .col-md-6 > div > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdd34f;
}
/* line 340, ../sass/screen.scss */
.lifestyle > img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 52%;
}

/* line 348, ../sass/screen.scss */
.experience {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 352, ../sass/screen.scss */
.experience > .heading {
  text-align: center;
}
/* line 355, ../sass/screen.scss */
.experience > .heading > h4 {
  color: #7d7d7d;
  font-size: 16px;
}
/* line 360, ../sass/screen.scss */
.experience > .heading > h3 {
  font-size: 23px;
}
/* line 365, ../sass/screen.scss */
.experience .list-experience {
  margin-top: 50px;
}
/* line 370, ../sass/screen.scss */
.experience .list-experience > .col-md-4 > div > img {
  width: 100%;
}
/* line 374, ../sass/screen.scss */
.experience .list-experience > .col-md-4 > div > p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #7d7d7d;
}

/* line 385, ../sass/screen.scss */
.philosophy {
  background-color: #eeeeee;
  padding: 100px 0;
  position: relative;
}
/* line 391, ../sass/screen.scss */
.philosophy > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 395, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
/* line 399, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6:nth-child(1) {
  z-index: 666;
}
/* line 403, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 > div {
  background-color: #ffffff;
  padding: 50px 40px;
  webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
}
/* line 408, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 > div > h4 {
  color: #7d7d7d;
  font-size: 16px;
}
/* line 413, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 > div > h3 {
  font-size: 23px;
  line-height: 1.3;
}
/* line 418, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 > div > p {
  color: #7d7d7d;
  font-size: 14px;
  margin-top: 20px;
  text-align: justify;
}
/* line 425, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 > div > a {
  margin-top: 20px;
  font-size: 14px;
  background-color: #fcc71d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
}
/* line 62, ../sass/screen.scss */
.philosophy > .container > .row > .col-md-6 > div > a:hover, .philosophy > .container > .row > .col-md-6 > div > a:focus, .philosophy > .container > .row > .col-md-6 > div > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdd34f;
}
/* line 437, ../sass/screen.scss */
.philosophy > img {
  position: absolute;
  right: 0;
  top: 0;
  width: 52%;
}

/* line 445, ../sass/screen.scss */
footer {
  background-color: #eeeeee;
}
/* line 449, ../sass/screen.scss */
footer > .maps > iframe {
  width: 100%;
  height: 400px;
  display: block;
}
/* line 456, ../sass/screen.scss */
footer > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 460, ../sass/screen.scss */
footer > .container > h3 {
  font-size: 23px;
  text-align: center;
}
/* line 465, ../sass/screen.scss */
footer > .container form {
  margin-top: 10px;
}
/* line 468, ../sass/screen.scss */
footer > .container form > .button {
  text-align: center;
}
/* line 471, ../sass/screen.scss */
footer > .container form > .button > button {
  background-color: #fcc71d;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 15px;
}
/* line 62, ../sass/screen.scss */
footer > .container form > .button > button:hover, footer > .container form > .button > button:focus, footer > .container form > .button > button:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdd34f;
}
/* line 479, ../sass/screen.scss */
footer > .container > h4 {
  color: #7d7d7d;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}
/* line 486, ../sass/screen.scss */
footer > .container > .social-media {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  text-align: center;
}
/* line 492, ../sass/screen.scss */
footer > .container > .social-media > li {
  display: inline;
}
/* line 496, ../sass/screen.scss */
footer > .container > .social-media > li > a > img {
  width: 32px;
}

@media (max-width: 979px) {
  /* line 510, ../sass/screen.scss */
  .container {
    width: 96%;
  }

  /* line 515, ../sass/screen.scss */
  .main-nav-top .brand-link {
    width: 100%;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
  }
  /* line 520, ../sass/screen.scss */
  .main-nav-top .navbar-right {
    width: 100%;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
  }

  /* line 527, ../sass/screen.scss */
  .slide-main > .brand {
    top: 100px;
    width: 100px;
    left: 50px;
  }

  /* line 534, ../sass/screen.scss */
  .availbility-schedule {
    padding-top: 50px;
  }

  /* line 538, ../sass/screen.scss */
  .lifestyle {
    padding: 60px 0;
  }
  /* line 544, ../sass/screen.scss */
  .lifestyle > .container .row > .col-md-6 > div {
    padding: 20px 20px;
  }

  /* line 552, ../sass/screen.scss */
  .philosophy {
    padding: 60px 0;
  }
  /* line 558, ../sass/screen.scss */
  .philosophy > .container .row > .col-md-6 > div {
    padding: 20px 20px;
  }

  /* line 566, ../sass/screen.scss */
  .experience {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* line 570, ../sass/screen.scss */
  .experience .list-experience {
    margin-top: 40px;
  }

  /* line 577, ../sass/screen.scss */
  footer > .maps > iframe {
    height: 300px;
  }
}
@media (max-width: 767px) {
  /* line 585, ../sass/screen.scss */
  .container {
    width: 100%;
  }

  /* line 589, ../sass/screen.scss */
  .main-nav-top {
    background-color: rgba(0, 0, 0, 0.75);
  }
  /* line 593, ../sass/screen.scss */
  .main-nav-top .container .navbar-toggle {
    background-color: #fcc71d;
    border-color: #fdd34f;
  }
  /* line 597, ../sass/screen.scss */
  .main-nav-top .container .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  /* line 603, ../sass/screen.scss */
  .main-nav-top .brand-link {
    display: none;
  }
  /* line 607, ../sass/screen.scss */
  .main-nav-top .navbar-right {
    display: block;
  }

  /* line 615, ../sass/screen.scss */
  .slide-main > .carousel-inner > .item > img {
    max-width: none;
    width: auto;
    height: 600px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  /* line 625, ../sass/screen.scss */
  .slide-main > .brand {
    position: fixed;
    top: 25px;
    left: 17px;
    width: 52px;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    z-index: 1031;
  }

  /* line 635, ../sass/screen.scss */
  .availbility-schedule {
    padding-top: 40px;
  }

  /* line 639, ../sass/screen.scss */
  .welcoming {
    padding-top: 30px;
  }
  /* line 642, ../sass/screen.scss */
  .welcoming > p {
    margin-top: 20px;
  }

  /* line 649, ../sass/screen.scss */
  .gallery > .row > div {
    margin-top: 15px;
  }
  /* line 652, ../sass/screen.scss */
  .gallery > .row > div:first-child {
    margin-top: 0;
  }

  /* line 659, ../sass/screen.scss */
  .lifestyle {
    padding: 50px 0;
  }
  /* line 662, ../sass/screen.scss */
  .lifestyle > img {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }

  /* line 669, ../sass/screen.scss */
  .experience {
    padding-top: 40px;
  }
  /* line 672, ../sass/screen.scss */
  .experience .list-experience {
    margin-top: 30px;
  }
  /* line 675, ../sass/screen.scss */
  .experience .list-experience > .col-md-4 {
    margin-top: 20px;
  }
  /* line 679, ../sass/screen.scss */
  .experience .list-experience > .col-md-4 > div > a {
    margin-top: 15px;
  }

  /* line 687, ../sass/screen.scss */
  .philosophy {
    padding: 50px 0;
  }
  /* line 690, ../sass/screen.scss */
  .philosophy > img {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }

  /* line 702, ../sass/screen.scss */
  footer > .container > .social-media > li > a > img {
    width: 28px;
  }
}
@media (max-width: 480px) {
  /* line 716, ../sass/screen.scss */
  .slide-main > .carousel-inner > .item > img {
    height: 480px;
  }

  /* line 723, ../sass/screen.scss */
  .welcoming {
    padding-top: 20px;
  }
  /* line 726, ../sass/screen.scss */
  .welcoming > p {
    margin-top: 15px;
  }
  /* line 730, ../sass/screen.scss */
  .welcoming > a {
    margin-top: 15px;
  }

  /* line 735, ../sass/screen.scss */
  .availbility-schedule {
    padding-bottom: 30px;
  }

  /* line 739, ../sass/screen.scss */
  .gallery {
    padding-bottom: 40px;
  }

  /* line 743, ../sass/screen.scss */
  .lifestyle {
    padding: 30px 0;
  }

  /* line 747, ../sass/screen.scss */
  .philosophy {
    padding: 30px 0;
  }

  /* line 751, ../sass/screen.scss */
  .experience {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* line 755, ../sass/screen.scss */
  .experience .list-experience {
    margin-top: 15px;
  }
}
