/* Created by M. N. Hidayat.
 * Please, was has permission when will edited this file.
 * Thanks! for your attention.
 * Greetings. BRAVOOO */


// Google Fonts ===========================================
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Raleway);

// font variable ==========================================
$font-allerta: 'Allerta', sans-serif;
$raleway: 'Raleway', sans-serif;


// numeric variable
$brand: 14px;
$navtop: 14px;

$intro-head: 32px;
$intro-subhead: 23px;
$intro-button: 20px;

$availability-date: 15px;
$availability-button: 15px;

$welcoming-head: 32px;
$welcoming-p: 14px;
$welcoming-button: 15px;

$lifestyle-head: 16px;
$lifestyle-subhead: 23px;
$lifestyle-p: 14px;
$lifestyle-a: 14px;

$philosophy-head: 16px;
$philosophy-subhead: 23px;
$philosophy-p: 14px;
$philosophy-a: 14px;

$experience-head: 16px;
$experience-subhead: 23px;
$experience-p: 16px;

$footer-head: 23px;
$footer-button: 15px;
$footer-p: 16px;

$background-gray: #eeeeee;


// variable value
$button-yellow: #fcc71d;
$button-yellow-darken: lighten($button-yellow, 10%);
$white: #ffffff;
$gray-separator: #ececec;
$gray-welcoming-description: #7d7d7d;


// mixin ====================================================
@mixin devil_hover($color: none, $bg: none){
	&:hover,&:focus,&:active{
		text-decoration: none;
		color: $color;
		background-color: $bg;
	}
}

@mixin center_absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

@mixin yellow-button($y:none, $x:none, $radius: 25px){
	background-color: $button-yellow;
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border: 0px;
	color: $white;
	font-weight: bold;
	padding: $y $x;
}

@mixin soft_shadow{
	webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.175);
}

@mixin flex($a: none, $b: none, $c: none, $d:none){
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	align-items: $a;
	-webkit-box-align: $b;
	justify-content: $c;
	-webkit-box-pack: $d;
}

@mixin transform_translate($x:0,$y:0){
	transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-webkit-transform: translate($x, $y);	
}

h1, h2, h3, h4, h5, h6, p, span, i, div, a, button{
	font-family: $raleway;	
}

.container{
	width: 92%;
}

.main-nav-top{
	background-color: rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0.25);

	.brand-link{
		>li{
			>a{
				color: $white;
				font-size: $brand;
				@include devil_hover($color: $white);
				pointer-events: none;
				font-family: $font-allerta;
			}
		}
	}
	
	.navbar-right{
		>li{
			>a{
				color: $white;
				font-size: $navtop;
				@include devil_hover($color: $white);
				font-weight: bold;
				position: relative;

				&::after{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: transparent;
				}

				&:hover{
					&::after{
						background-color: $white;
					}
				}
			}
		}
	}
}

.slide-main{
	>.carousel-inner{
		>.item{
			>img{
				width: 100%;
			}
		}
	}

	>.intro-info{
		@include center_absolute;		
		text-align: center;

		>h1{
			color: $white;
			font-size: $intro-head;
			font-weight: bold;
		}

		>h4{
			color: $white;
			font-size: $intro-subhead;
			margin-top: 20px;
		}

		>a{
			margin-top: 20px;
			font-size: $intro-button;
			@include yellow-button(10px,30px);
			@include devil_hover($white, $button-yellow-darken);
		}
	}

	>.brand{
		position: absolute;
		width: 160px;
		top: 50px;
		left: 70px;
	
		>img{
			width: 100%;
		}
	}
}

.availbility-schedule{
	padding-top: 70px;
	padding-bottom: 40px;
	width: 60%;
	border-bottom: 1px solid $gray-separator;

	>.form-inline{
		text-align: center;

		input{
			font-weight: bold;
			font-size: $availability-date;
			padding-top: 18px;
			padding-bottom: 18px;
		}

		>button{
			font-weight: bold;
			font-size: $availability-button;
			@include yellow-button(10px,30px);
			@include devil_hover($white, $button-yellow-darken);
		}
	}	
}

.welcoming{
	text-align: center;
	padding-top: 40px;
	width: 60%;

	>h1{
		line-height: 1.3;
		font-size: $welcoming-head;
	}

	>p{
		margin-top: 40px;
		color: $gray-welcoming-description;
		font-size: $welcoming-p;
	}

	>a{
		margin-top: 20px;
		font-size: $welcoming-button;
		@include yellow-button(10px, 30px);
		@include devil_hover($white, $button-yellow-darken);
	}
}

.gallery{
	padding-top: 40px;
	padding-bottom: 50px;

	>.row{
		margin-left: 0;
		margin-right: 0;

		>div{
			padding-left: 0;
			padding-right: 0;

			>a{
				display: block;

				>img{
					width: 100%;
				}

				&:hover > img{
					opacity: 0.75;
    				filter: alpha(opacity=75);
				}
			}
		}
	}
}

.lifestyle{
	background-color: $background-gray;
	padding: 100px 0;
	position: relative;

	>.container{
		>.row{
			margin-left: 0;
			margin-right: 0;

			>.col-md-6{
				padding-left: 0;
				padding-right: 0;

				&:nth-child(2){
					z-index: 666;
				}

				>div{
					background-color: $white;
					padding: 50px 40px;
					@include soft_shadow;

					>h4{
						color: $gray-welcoming-description;
						font-size: $lifestyle-head;
					}

					>h3{
						font-size: $lifestyle-subhead;
						line-height: 1.3;
					}

					>p{
						color: $gray-welcoming-description;
						font-size: $lifestyle-p;
						margin-top: 20px;
						text-align: justify;
					}

					>a{
						font-size: $lifestyle-a;
						margin-top: 20px;
						@include yellow-button(10px, 30px);
						@include devil_hover($white, $button-yellow-darken);
					}
				}
			}
		}

	}
	
	>img{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 52%;
	}
}

.experience{
	padding-top: 60px;
	padding-bottom: 60px;

	>.heading{
		text-align: center;

		>h4{
			color: $gray-welcoming-description;
			font-size: $experience-head;
		}

		>h3{
			font-size: $experience-subhead;
		}
	}

	.list-experience{
		margin-top: 50px;

		>.col-md-4{
			>div{
				>img{
					width: 100%;
				}

				>p{
					margin-top: 10px;
					font-size: $experience-p;
					text-align: center;
					color: $gray-welcoming-description;
				}
			}
		}
	}
}

.philosophy{
	background-color: $background-gray;
	padding: 100px 0;
	position: relative;

	>.container{
		>.row{
			margin-left: 0;
			margin-right: 0;

			>.col-md-6{
				padding-left: 0;
				padding-right: 0;

				&:nth-child(1){
					z-index: 666;
				}

				>div{
					background-color: $white;
					padding: 50px 40px;
					@include soft_shadow;

					>h4{
						color: $gray-welcoming-description;
						font-size: $philosophy-head;
					}

					>h3{
						font-size: $philosophy-subhead;
						line-height: 1.3;
					}

					>p{
						color: $gray-welcoming-description;
						font-size: $philosophy-p;
						margin-top: 20px;
						text-align: justify;
					}

					>a{
						margin-top: 20px;
						font-size: $philosophy-a;
						@include yellow-button(10px, 30px);
						@include devil_hover($white, $button-yellow-darken);
					}
				}
			}
		}

	}
	
	>img{
		position: absolute;
		right: 0;
		top: 0;
		width: 52%;
	}
}

footer{
	background-color: $background-gray;

	>.maps{
		>iframe{
			width: 100%;
			height: 400px;
			display: block;
		}
	}

	>.container{
		padding-top: 30px;
		padding-bottom: 30px; 

		>h3{
			font-size: $footer-head;
			text-align: center;
		}

		form{
			margin-top: 10px;

			>.button{
				text-align: center;

				>button{
					@include yellow-button(10px, 30px);
					@include devil_hover($white, $button-yellow-darken);
					font-size: $footer-button;
				}
			}
		}

		>h4{
			color: $gray-welcoming-description;
			font-size: $footer-p;
			margin-top: 20px;
			text-align: center;
		}

		>.social-media{
			list-style: none;
			padding-left: 0;
			margin-top: 20px;
			text-align: center;

			>li{
				display: inline;

				>a{
					>img{
						width: 32px;
					}
				}
			}
		}
	}
}

@media(min-width: 1200px){
	
}

@media(max-width: 979px){
	.container{
		width: 96%;
	}

	.main-nav-top{
		.brand-link{
			width: 100%;
			@include flex(center, center, center, center);
		}
		
		.navbar-right{
			width: 100%;
			@include flex(center, center, center, center);
		}
	}

	.slide-main{
		>.brand{
			top: 100px;
			width: 100px;
			left: 50px;
		}
	}

	.availbility-schedule{
		padding-top: 50px;	
	}

	.lifestyle{
		padding: 60px 0;

		>.container{
			.row{
				>.col-md-6{
					>div{
						padding: 20px 20px;
					}
				}
			}
		}
	}

	.philosophy{
		padding: 60px 0;
		
		>.container{
			.row{
				>.col-md-6{
					>div{
						padding: 20px 20px;
					}
				}
			}
		}
	}

	.experience{
		padding-top: 50px;
    	padding-bottom: 50px;

    	.list-experience{
    		margin-top: 40px;
    	}
	}

	footer{
		>.maps{
			>iframe{
				height: 300px;	
			}
		}
	}
}

@media(max-width: 767px){
	.container{
		width: 100%;
	}

	.main-nav-top{
		background-color: rgba(0,0,0,0.75);

		.container{
			.navbar-toggle{
				background-color: $button-yellow;
				border-color: $button-yellow-darken;

				.icon-bar{
					background-color: $white;
				}
			}
		}

		.brand-link{
			display: none;
		}

		.navbar-right{
			display: block;
		}
	}

	.slide-main{
		>.carousel-inner{
			>.item{
				>img{
					max-width: none;
					width: auto;
					height: 600px;
					margin-left: 50%;
					@include transform_translate($x: -50%);
				}
			}
		}

		>.brand{
			position: fixed;
			top: 25px;
			left: 17px;
			width: 52px;
			@include transform_translate($y: -50%);
			z-index: 1031;
		}
	}

	.availbility-schedule{
		padding-top: 40px;	
	}

	.welcoming {
	    padding-top: 30px;

	    >p{
	    	margin-top: 20px;
	    }
	}

	.gallery{
		>.row{
			>div{
				margin-top: 15px;

				&:first-child{
					margin-top: 0;
				}
			}
		}
	}

	.lifestyle{
		padding: 50px 0;

		>img{
			position: relative;
			width: 100%;
			margin-top: 15px;
		}
	}

	.experience {
	    padding-top: 40px;

	    .list-experience{
	    	margin-top: 30px;

	    	>.col-md-4{
	    		margin-top: 20px;
	    	
	    		>div{
	    			>a{
	    				margin-top: 15px;
	    			}
	    		}
	    	}
	    }
	}

	.philosophy{
		padding: 50px 0;

		>img {
		    position: relative;
		    width: 100%;
		    margin-top: 15px;
		}
	}

	footer{
		>.container{
			>.social-media{
				>li{
					>a{
						>img{
						    width: 28px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 480px){
	.slide-main{
		>.carousel-inner{
			>.item{
				>img{
					height: 480px;
				}
			}
		}
	}

	.welcoming {
	    padding-top: 20px;

	    >p{
	    	margin-top: 15px;
	    }

	    >a{
	    	margin-top: 15px;
	    }
	}

	.availbility-schedule {
	    padding-bottom: 30px;
	}

	.gallery {
	    padding-bottom: 40px;
	}

	.lifestyle {
	    padding: 30px 0;
	}

	.philosophy {
	    padding: 30px 0;
	}

	.experience {
	    padding-top: 30px;
	    padding-bottom: 30px;

	    .list-experience {
		    margin-top: 15px;
		}
	}
}